/* favorite.css */

/* Global styles */
body {
  font-family: 'Avenir', sans-serif;
  /* Assuming 'Avenir' is your preferred font */
  margin: 0;
  padding: 0;
}

/* Header styles */
/* ... */

/* Favorite container */
.favorite-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.favorite-left {
  width: 70%;
}

.favorite-right {
  width: 30%;
}

.favorite-title {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 24px;
}

.favorite-title img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.favorite-title p {
  margin: 0;
  margin-top: 8px;
  font-size: 24px;
}

/* Cart items container */
.cart-items-container {
  background-color: #ffffff;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 24px 48px 24px 24px;
  margin-bottom: 24px;
  position: relative;
}

/* Cart item details */
.cart-item-left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.cart-item-image {
  width: 100px;
  height: 125px;
  object-fit: cover;
  object-position: center;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Cart item info top */
.cart-item-info-top {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cart-item-info-top>p {
  font-size: 24px;
}

.cart-item-info-top>span {
  font-size: 16px;
}

.cart-item-info-top>span>span {
  color: red;
}

/* Cart item info bottom */
.cart-item-info-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px 24px;
}

.cart-item-info-bottom>p {
  font-size: 20px;
}

/* Cart item right */
.cart-item-right {
  width: 175px;
  display: flex;
  flex-direction: column;
  margin-left: 42px;
}

.cart-item-right p {
  font-size: 16px;
}

.price {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 8px;
}

.total-price {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  color: red;

}

.price>p:first-child {
  text-decoration: line-through;
}

.price>p:last-child {
  color: red;
}

/* Remove favorite button */
.remove-favorite {
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
  transform: scale(1.25);
}

/* Buttons for quantity */
.buttons {
  display: flex;
  gap: 8px;
}

.buttons>i {
  cursor: pointer;
  font-size: 24px;
  padding: 6px;
  border: 2px solid #000000;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 8px;
}


/*buttons */
.remove-favorite {
  position: absolute;
  top: 24px;
  right: 24px;
  transform: scale(1.25);
  cursor: pointer;
  color: red;
}

i {
  cursor: pointer;
}

.add-to-cart {
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14,
      30,
      37,
      0.32) 0px 2px 16px 0px;

}

.shopButton {
  border: black solid 1px;
  background-color: #f4cdcc;
  font-size: 14px;
  padding: 6px 12px;
}

.shopButton:hover {
  opacity: 0.8;
}

/* Notification */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}