/* favorite.css */

/* Styles for the favorite container */
.favorite-container {
  margin: 20px auto;
  padding: 20px;
  max-width: 1200px;
}

.favorite-left {
  float: left;
  width: 70%;
  padding-right: 20px;
  box-sizing: border-box;
}

.favorite-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.favorite-title img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.favorite-title p {
  font-size: 24px;
  font-weight: bold;
}

.favorite-empty {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  color:#333;
}

.favorite-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
}

.favorite-item img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.favorite-item-info {
  flex-grow: 1;
}

.favorite-item-info h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.favorite-item-info p {
  margin-bottom: 10px;
}

.favorite-item-price {
  display: flex;
  align-items: center;
}

.favorite-item-price span {
  font-weight: bold;
  margin-right: 10px;
}

.remove-favorite {
  cursor: pointer;
  color: red;
}
/* Notification */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
